* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Article widths */
  --min-width: 320px;
  --max-width: 350px;

  /* Font */
  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-semi-small: 14px;
  --font-size-big: 20px;
  --font-weight: 600;
  --font-weight-b: 800;
  --font-family: 'Figtree', sans-serif;

  /* Colors */
  --yellow: hsl(47, 88%, 63%); /*Primary*/
  --white: hsl(0, 0%, 100%); /*Neutral*/
  --grey: hsl(0, 0%, 50%); /*Neutral*/
  --black: hsl(0, 0%, 7%); /*Neutral*/
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background: var(--yellow);
  height: 100vh;
  margin: 0 1em;
  display: grid;
  place-content: center;
}

.newsArticle {
  max-width: var(--max-width);
  min-width: var(--min-width);
  background: var(--white);
  padding: 1.2em;
  border-radius: 1em;
  border: 1.5px solid var(--black);
  box-shadow: 0.5em 0.5em var(--black);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsArticle__thumbnail {
  width: 100%;
  object-fit: cover;
  border-radius: 0.7em;
}

.newsArticle__main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsArticle__categoryDate {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: var(--font-size-small);
}

.newsArticle__articleCategory {
  width: fit-content;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  background: var(--yellow);
  font-weight: var(--font-weight-b);
}

.newsArticle__title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-b);
  transition: color 0.1s ease;
  cursor: pointer;
}

.newsArticle__title:hover {
  color: var(--yellow);
}

.newsArticle__description {
  color: var(--grey);
  font-size: var(--font-size-semi-small);
  line-height: 1.5;
}

.newsArticle__footer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.newsArticle__authorPhoto {
  width: 2em;
}

.newsArticle__authorName {
  font-size: var(--font-size-semi-small);
  font-weight: var(--font-weight-b);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }